<header>
    <div class="nav-container">
        <div class="col-md-3 col-sm-3 col-3">
            <div class="logo-container">
                <a href="/"><img src="https://res.cloudinary.com/lvaldivia/image/upload/v1667929711/about-me/logo/icon_va1wro.png" alt="Logo" class="logo"></a>
            </div>
        </div>
        <div class="col-md-9 col-sm-9 col-9 text-end">
            <div class="menu-icon" (click)="openMenu()">
                <i class={{menu_icon}}></i>
            </div>
            <div class="desktop-menu" [class.mobile_menu]="menuValue">
                <ul>
                    <li><a (click)="closeMenu()" routerLink="" routerLinkActive="active">Inicio</a></li>
                    <li><a (click)="closeMenu()" routerLink="/fernando" routerLinkActive="active">Fernando</a></li>
                    <li><a (click)="closeMenu()" routerLink="/servicios" routerLinkActive="active">Servicios</a></li>
                    <li><a (click)="closeMenu()" routerLink="/portafolio" routerLinkActive="active">Portafolio</a></li>
                    <li><a (click)="closeMenu()" routerLink="/contacto" routerLinkActive="active">Contacto</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
<router-outlet></router-outlet>