<header>
    <div class="nav-container">
        <div class="logo-container">
            <a routerLink="">
                <img src="https://res.cloudinary.com/lvaldivia/image/upload/v1736737711/lv-portfolio/logo/icon_lvaldivia.png" alt="Logo Fernando Valdivia" class="logo" 
                width="50" height="50">
            </a>
        </div>
        <div class="list-container">
            <div class="menu-icon" (click)="openMenu()">
                <i class={{menu_icon}}></i>
            </div>
            <div class="desktop-menu" [class.mobile_menu]="menuValue">
                <ul>
                    <li><a (click)="closeMenu()" routerLink="/">Inicio</a></li>
                    <li><a (click)="closeMenu()" routerLink="/fernando" routerLinkActive="active">Fernando</a></li>
                    <li><a (click)="closeMenu()" routerLink="/experiencia" routerLinkActive="active">Experiencia</a></li>
                    <li><a (click)="closeMenu()" routerLink="/portafolio" routerLinkActive="active">Portafolio</a></li>
                    <li><a (click)="closeMenu()" routerLink="/contacto" routerLinkActive="active">Contacto</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
<router-outlet></router-outlet>