<div class="footer-container">
    <p>2025 © Diseñado y desarrollado por <a routerLink="" routerLinkActive="active"><em>Luis Valdivia</em></a></p>
    <div class="footer-nav">
        <a routerLink="" routerLinkActive="active">Inicio</a>
        <a routerLink="/fernando" routerLinkActive="active">Fernando</a>
        <a routerLink="/servicios" routerLinkActive="active">Servicios</a>
        <a routerLink="/portafolio" routerLinkActive="active">Portafolio</a>
        <a routerLink="/contacto" routerLinkActive="active">Contacto</a>
    </div>
    <div class="social-container">
        <a href="https://www.linkedin.com/in/luis-fernando-valdivia/" target="_blank" title="LinkedIn" class="socials-item">
            <i class="bi bi-linkedin"></i>
        </a>
        <a href="https://www.facebook.com/luisfernando.valdiviamurillo.9/" target="_blank" title="Facebook" class="socials-item">
            <i class="bi bi-facebook"></i>
        </a>
        <a href="https://x.com/lfvaldivia" target="_blank" title="Twitter" class="socials-item">
            <i class="bi bi-twitter-x"></i>
        </a>
        <a href="https://www.instagram.com/lf.valdivia/" target="_blank" title="Instagram" class="socials-item">
            <i class="bi bi-instagram"></i>
        </a>
        <a href="https://www.youtube.com/@luisf.valdivia" target="_blank" title="YouTube" class="socials-item">
            <i class="bi bi-youtube"></i>
        </a>
    </div>
</div>