<div class="profile-container">
    <div class="image-container"></div>
    <div class="details-container">
        <div class="presentacion-container">
            <h1>Fernando Valdivia</h1>
            <h4>Software Developer</h4>
            <p>Desarrollador de software apasionado por la tecnología. Con experiencia en el diseño, desarrollo y mantenimiento de aplicaciones web y móviles, especializado en tecnologías modernas, interfaces intuitivas, arquitecturas backend escalables y servicios en la nube, garantizando eficiencia y calidad en cada proyecto.</p>
            <div class="contact-container">
                <a target="_blank" title="Correo Fernando Valdivia" href="mailto:lfvaldivia.m@gmail.com">
                    <i class="bi bi-envelope-fill"></i>
                </a>
                <a target="_blank" title="Descargar CV Fernando Valdivia" href="/cv.pdf">
                    <i class="bi bi-file-earmark-person-fill"></i>
                </a>
                <a target="_blank" title="LinkedIn Fernando Valdivia" href="https://www.linkedin.com/in/luis-fernando-valdivia/">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a target="_blank" title="GitHub Fernando Valdivia" href="https://github.com/FernandoValdivia">
                    <i class="bi bi-github"></i>
                </a>
                <a target="_blank" title="Youtube Fernando Valdivia" href="https://www.youtube.com/@luisf.valdivia">
                    <i class="bi bi-youtube"></i>
                </a>
            </div>
        </div>
        <div class="skills-container">
            <h3>Skills</h3>
            <div class="skill">
                <h4>FrontEnd</h4>
                <div class="devweb-container">
                    <div class="card-item">
                        <img src="https://res.cloudinary.com/lvaldivia/image/upload/v1736804627/lv-portfolio/fernando/html5.svg" alt="HTML5">
                    </div>
                    <div class="card-item">
                        <img src="https://res.cloudinary.com/lvaldivia/image/upload/v1736804609/lv-portfolio/fernando/css.svg" alt="CSS">
                    </div>
                    <div class="card-item">
                        <img src="https://res.cloudinary.com/lvaldivia/image/upload/v1736804609/lv-portfolio/fernando/js.svg" alt="JavaScript">
                    </div>
                    <div class="card-item">
                        <img src="https://res.cloudinary.com/lvaldivia/image/upload/v1736804609/lv-portfolio/fernando/bootstrap.svg" alt="Bootstrap">
                    </div>
                    <div class="card-item">
                        <img src="https://res.cloudinary.com/lvaldivia/image/upload/v1736804609/lv-portfolio/fernando/tailwindcss.svg" alt="TailwindCSS">
                    </div>
                </div>
            </div>
            <div class="skill">
                <h4>BackEnd</h4>
                <div class="devweb-container">
                    <div class="card-item">
                        <img src="https://res.cloudinary.com/lvaldivia/image/upload/v1736804609/lv-portfolio/fernando/php.svg" alt="PHP">
                    </div>
                    <div class="card-item">
                        <img src="https://res.cloudinary.com/lvaldivia/image/upload/v1736804609/lv-portfolio/fernando/nodejs.svg" alt="NodeJS">
                    </div>
                    <div class="card-item">
                        <img src="https://res.cloudinary.com/lvaldivia/image/upload/v1736806307/lv-portfolio/fernando/mysql.svg" alt="MySQL">
                    </div>
                    <div class="card-item">
                        <img src="https://res.cloudinary.com/lvaldivia/image/upload/v1736804609/lv-portfolio/fernando/mongodb.svg" alt="MongoDB">
                    </div>
                    <div class="card-item">
                        <img src="https://res.cloudinary.com/lvaldivia/image/upload/v1736804609/lv-portfolio/fernando/postgresql.svg" alt="PostgreSQL">
                    </div>
                </div>
            </div>
            <div class="skill">
                <h4>Herramientas / Frameworks</h4>
                <div class="devweb-container">
                    <div class="card-item">
                        <img src="https://res.cloudinary.com/lvaldivia/image/upload/v1736804609/lv-portfolio/fernando/react.svg" alt="React">
                    </div>
                    <div class="card-item">
                        <img src="https://res.cloudinary.com/lvaldivia/image/upload/v1736804609/lv-portfolio/fernando/angular.svg" alt="Angular">
                    </div>
                    <div class="card-item">
                        <img src="https://res.cloudinary.com/lvaldivia/image/upload/v1736804609/lv-portfolio/fernando/laravel.svg" alt="Laravel">
                    </div>
                    <div class="card-item">
                        <img src="https://res.cloudinary.com/lvaldivia/image/upload/v1736804609/lv-portfolio/fernando/aws.svg" alt="AWS">
                    </div>
                    <div class="card-item">
                        <img src="https://res.cloudinary.com/lvaldivia/image/upload/v1736804609/lv-portfolio/fernando/cpanel.svg" alt="Cpanel">
                    </div>
                </div>
            </div>
            <div class="skill">
                <h4>Desarrollo móvil</h4>
                <div class="devweb-container">
                    <div class="card-item">
                        <img src="https://res.cloudinary.com/lvaldivia/image/upload/v1736806721/lv-portfolio/fernando/android.svg" alt="Android Studio">
                    </div>
                    <div class="card-item">
                        <img src="https://res.cloudinary.com/lvaldivia/image/upload/v1736806721/lv-portfolio/fernando/swift.svg" alt="Swift">
                    </div>
                    <div class="card-item">
                        <img src="https://res.cloudinary.com/lvaldivia/image/upload/v1736807752/lv-portfolio/fernando/java.svg" alt="Swift">
                    </div>
                    <div class="card-item">
                        <img src="https://res.cloudinary.com/lvaldivia/image/upload/v1736808629/lv-portfolio/fernando/xamarin.svg" alt="Xamarin">
                    </div>
                    <div class="card-item">
                        <img src="https://res.cloudinary.com/lvaldivia/image/upload/v1736804609/lv-portfolio/fernando/firebase.svg" alt="Firebase">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>