.profile-container {
    display: flex;
}

.image-container {
    flex: 2;
    width: auto;
    height: calc(100vh - 70px);
    background: url(https://res.cloudinary.com/lvaldivia/image/upload/v1736812240/lv-portfolio/fernando/fernando-1.webp) no-repeat;
    background-size: cover;
    background-position: center;
    transition: all 0.3s ease-in-out;
    filter: brightness(0.7) grayscale(.5);
}

.image-container:hover{
    filter: none;
}

.details-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 50px;
    padding: 40px 60px;
    height: calc(100vh - 70px);
    overflow: auto;
}

.details-container h1 {
    font-weight: 500;
}

.details-container h4 {
    font-weight: 400;
    color: #b90000;
}

.details-container p {
    color: #5a5a5a;
    margin: 0;
}

.presentacion-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-container {
    display: flex;
    gap: 15px;
    justify-content: center;
    padding-top: 25px;
}

.details-container a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    font-size: 20px;
    border: solid 1px #a0a0a0;
    border-radius: 5px;
    color: #a0a0a0;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.details-container a:hover {
    color: #b90000;
    border: solid 1px #b90000;
}

.devweb-container {
    display: flex;
    gap: 10px;
    padding: 5px 0;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skill {
    width: 100%;
}

.skills-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill h4 {
    font-size: 18px;
    margin: 10px 0;
}

.card-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border: 1px solid #6d6d6d;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    filter: grayscale(100%) brightness(160%) contrast(40%);
}

.card-item img {
    width: 40px;
    height: 40px;
}

.card-item:hover {
    cursor: pointer;
    border: 1px solid #b90000;
    filter: grayscale(0);
}

@media screen and (min-width: 128px) and (max-width: 990px) {
    .profile-container {
        flex-direction: column;
    }

    .details-container {
        padding: 20px;
    }

    .devweb-container {
        justify-content: space-around;
    }

    .image-container {
        flex: auto;
    }
}

@media screen and (max-width: 500px) {
    .devweb-container {
        justify-content: center;
    }
}