.hero-container {
    display: flex;
    width: 100%;
    height: calc(100vh - 70px);  /* Ocupa todo el alto de la pantalla */
    /* height: 100vh; */
}

.left-container, .right-container {
    flex: 1; /* Cada contenedor ocupa el 50% */
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-container {
    background: url('https://res.cloudinary.com/lvaldivia/image/upload/f_auto,q_auto/v1/lv-portfolio/hero/fhffrv0svwjczpemsfka') no-repeat center center;

    filter: grayscale(70%) brightness(80%);
    background-size: cover; /* Hace que la imagen ocupe todo el contenedor */
    transition: opacity 1s ease-in-out, background-image .2s ease-in-out;
    opacity: 1;
}

.left-container.fade-out {
    opacity: 0;
}

.right-container {
    text-align: center;
    font-size: 24px;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center; /* Centra el texto completamente */
}

@media screen and (min-width: 128px) and (max-width: 990px) {
    .hero-container {
        flex-direction: column;
    }
}