.hero-container {
    display: flex;
    width: 100%;
    height: calc(100vh - 70px);  /* Ocupa todo el alto de la pantalla */
    /* height: 100vh; */
}

.left-container, .right-container {
    flex: 1; /* Cada contenedor ocupa el 50% */
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: black;
    filter: grayscale(70%) brightness(70%);
}

.left-container .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: opacity 1s ease-in-out;
    opacity: 0;
    z-index: 0;
}

.left-container .background.active {
    opacity: 1;
    z-index: 1; /* La imagen activa se superpone */
}

.left-container.fade-out {
    opacity: 0;
}

.right-container {
    text-align: center;
    font-size: 24px;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center; /* Centra el texto completamente */
}

@media screen and (min-width: 128px) and (max-width: 990px) {
    .hero-container {
        flex-direction: column;
    }
}